<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>518282530350-1fmhkcsq589hrcm2ddk2k52h3485t76t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.518282530350-1fmhkcsq589hrcm2ddk2k52h3485t76t</string>
	<key>API_KEY</key>
	<string>AIzaSyACOr5B2VfVKd4nQlNqaH-m1qYIhbMSFZo</string>
	<key>GCM_SENDER_ID</key>
	<string>518282530350</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.weatherService</string>
	<key>PROJECT_ID</key>
	<string>weather-service-7bd87</string>
	<key>STORAGE_BUCKET</key>
	<string>weather-service-7bd87.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:518282530350:ios:3878625b34d58405ea19bf</string>
</dict>
</plist>